.button {
    background-color: var(--lemon);
    padding: 5px 40px;
    border: 1px solid var(--off-black);
    border-radius: 15px;
    display: inline-block;
    font-size: 12px;

}

.button:active, .button:hover {
    background-color: var(--light-blue);
}

