.container {
    padding: 2em;
}

.pageTitle {
    text-align: center;
    font-family: var(--cormorant-garamond);
    font-size: 2em;
}

.textContainer {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.text {
    font-size: 1.5em;
}