/* home */

:root {
  --lemon: #EFDF80;
  --light-blue: #C0DCDC;
  --light-blue-2: #C2DEE5;
  --moss-green: #949A58;
  --olivine: #94B485;
  --purple: #5E5BDC;
  --off-black: #2F2D2E;
  --off-white: #fbf7f5;
}

::selection {
  background: var(--light-blue);
}

body {
  margin: 0;
}

