
.hero-container {
    height: 100vh;
}

.hero {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    /* min-height: 100vh; */
    /* height: 100vh; */
    height: calc(100vh - 120px);
    padding: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.header-section {
    padding: 10px 20px;
}


.name {
    font-size: 4rem;
    margin: 0;
}

.cta-button {
    font-size: 12px;
    background-color: var(--lemon);
    border-radius: 50px;
    padding: 5px 10px;
    border: 1px solid var(--off-black);
    width: 130px;
    text-align: center;
    text-decoration: none;
    color: var(--off-black);
}

.cta-button:hover {
    background-color: #C2DEE5;
}

.intro-highlight {
    background-color: var(--lemon)
}

.navbar-list {
    margin: 0;
}


.active {
    display: block;
}


.navbar-list li {
    margin: 0 6px;
}

.navbar-list li a {
    text-decoration: none;
    color: var(--off-black);
}

.navbar-list li a:hover {
    color: #C2DEE5;
}

/* media query - navbar -list style */
@media screen and (min-width: 600px) {}


.social-row {
    display: flex;
    justify-content: center;
}

.social-row img {
    margin-right: 10px;
}


/* https: //coolors.co/949a58-c2dee5-c0dcdc-efdf80-94b485  color palette*/
/* https: //coolors.co/c1dbe3-c7dfc5-f6feaa-fce694-373737 */
/* https: //redstapler.co/curved-custom-shape-div-css-svg/ */
/* portfolio grid example: https: //www.codeflows.dev/#pricing */
/* https: //alvarotrigo.com/blog/css-highlight-text/ highlight ideas */